# Ignore the petsc folder inside FireDrakeENVCG
FireDrakeEnvCG/petsc/

# Ignore macOS metadata files everywhere
.DS_Store

FireDrakeEnvCG/firedrake-configure

*.aux
*.fdb_latexmk
*.files
*.log
*.out
*.synctex.gc
